In [6]:
import boto3
import pandas as pd
import sqlite3
import io

db = sqlite3.connect('Sparta_DB')
cursor = db.cursor()

s3_client = boto3.client('s3')
bucket_name = 'data-eng-228-final-project'
prefix = 'Academy/'

Count of Tables in the Academy file

In [4]:
response = s3_client.list_objects_v2(Bucket=bucket_name, Prefix=prefix)

files = len(response['Contents'])
print(f"File Count in Academy: {files}")

File Count in Academy: 36

Transforming the CSV's into Different DataFrames based on their Subject

In [7]:
business = []
data = []
engineering = []

for obj in response['Contents']:
    key = obj['Key']
    if key.startswith('Academy/B'):
        obj = s3_client.get_object(Bucket=bucket_name, Key=key)
        df = pd.read_csv(io.BytesIO(obj['Body'].read()))
        business.append(df)
    elif key.startswith('Academy/D'):
        obj = s3_client.get_object(Bucket=bucket_name, Key=key)
        df = pd.read_csv(io.BytesIO(obj['Body'].read()))
        data.append(df)
    elif key.startswith('Academy/E'):
        obj = s3_client.get_object(Bucket=bucket_name, Key=key)
        df = pd.read_csv(io.BytesIO(obj['Body'].read()))
        engineering.append(df)

Business DataFrame:

In [8]:
business_ = pd.concat(business, ignore_index=True)

business_

,name,trainer,Analytic_W1,Independent_W1,Determined_W1,Professional_W1,Studious_W1,Imaginative_W1,Analytic_W2,Independent_W2,...,Determined_W9,Professional_W9,Studious_W9,Imaginative_W9,Analytic_W10,Independent_W10,Determined_W10,Professional_W10,Studious_W10,Imaginative_W10
0,Quintus Penella,Gregor Gomez,1,2,2,1,2,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Simon Murrey,Gregor Gomez,6,1,1,2,4,2,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Gustaf Lude,Gregor Gomez,6,4,1,1,2,3,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Yolanda Fosse,Gregor Gomez,2,1,2,3,3,3,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lynnett Swin,Gregor Gomez,2,2,4,5,1,2,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,Caril Bayly,Ely Kely,3,3,1,2,1,3,1.0,1.0,...,6.0,7.0,4.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
117,Mari Lotterington,Ely Kely,4,1,2,5,3,2,4.0,1.0,...,7.0,8.0,5.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
118,Jacquelynn Savin,Ely Kely,1,2,5,5,1,2,3.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
119,Ives Weddell,Ely Kely,4,2,2,2,1,4,3.0,3.0,...,4.0,6.0,8.0,6.0,8.0,8.0,8.0,8.0,8.0,8.0
120,Gerda Yuille,Ely Kely,3,4,2,2,3,4,5.0,5.0,...,8.0,8.0,8.0,6.0,8.0,8.0,8.0,8.0,8.0,8.0

Data DataFrame:

In [9]:
data_ = pd.concat(data, ignore_index=True)

data_

,name,trainer,Analytic_W1,Independent_W1,Determined_W1,Professional_W1,Studious_W1,Imaginative_W1,Analytic_W2,Independent_W2,...,Determined_W9,Professional_W9,Studious_W9,Imaginative_W9,Analytic_W10,Independent_W10,Determined_W10,Professional_W10,Studious_W10,Imaginative_W10
0,Pyotr De Zuani,Trixie Orange,1,3,4,2,2,2,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Vince Scott,Trixie Orange,1,1,4,3,3,4,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kellie Althorp,Trixie Orange,3,4,1,1,5,2,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aida Bothams,Trixie Orange,4,2,2,3,3,1,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nettie Civitillo,Trixie Orange,5,4,3,1,1,6,2.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Gianina Wandless,Trixie Orange,3,1,8,4,4,1,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,Kaitlyn Chagg,Trixie Orange,1,4,2,1,3,3,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Scotti Bromfield,Trixie Orange,1,1,2,6,2,6,3.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,Genovera Mattek,Trixie Orange,3,3,3,1,5,2,2.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Yorgos O'Rourke,Trixie Orange,1,6,3,5,2,5,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Engineering DataFrame

In [10]:
engineering_ = pd.concat(engineering, ignore_index=True)

engineering_

,name,trainer,Analytic_W1,Independent_W1,Determined_W1,Professional_W1,Studious_W1,Imaginative_W1,Analytic_W2,Independent_W2,...,Determined_W9,Professional_W9,Studious_W9,Imaginative_W9,Analytic_W10,Independent_W10,Determined_W10,Professional_W10,Studious_W10,Imaginative_W10
0,Sigrid Veitch,Eshal Brandt,4,4,3,6,2,2,4.0,1.0,...,6.0,8.0,7.0,8.0,8.0,8.0,8.0,8.0,7.0,8.0
1,Rodrick Henworth,Eshal Brandt,4,4,3,3,1,4,1.0,1.0,...,8.0,7.0,8.0,5.0,8.0,8.0,8.0,8.0,8.0,8.0
2,Reggie Lawlor,Eshal Brandt,5,2,5,3,3,6,4.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
3,Thornton Thuillier,Eshal Brandt,3,5,4,5,2,1,1.0,2.0,...,7.0,7.0,8.0,8.0,8.0,8.0,8.0,8.0,7.0,8.0
4,Thomasine Poundford,Eshal Brandt,3,2,4,1,2,5,2.0,2.0,...,8.0,5.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,Moritz Mosedall,Mohammad Velazquez,1,1,5,1,2,6,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,Chaim Inseal,Mohammad Velazquez,1,3,3,4,1,2,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Gertruda Syddie,Mohammad Velazquez,3,1,2,8,1,4,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Thom Derwin,Mohammad Velazquez,3,7,3,3,3,1,2.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Godfry Sephton,Mohammad Velazquez,4,2,5,1,1,2,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN