In [13]:
import boto3
from file_extraction import *
from to_dataframe import *
import pandas as pd

In [14]:
s3_client = boto3.client('s3')
files_dict = {'academy_csv': [], 'json': [], 'txt': [], 'csv': []}

extract_file_type(s3_client, 'Talent', files_dict, 'csv')
applicants = files_dict['csv']

display(convert_all_to_df(applicants, 'csv'))

,id,name,gender,dob,email,city,address,postcode,phone_number,uni,degree,invited_date,month,invited_by
0,1,Esme Trusslove,Female,04/08/1994,etrusslove0@google.es,Swindon,22056 Lerdahl Avenue,SN1,+44-295-783-0228,"Saint George's Hospital Medical School, Univer...",2:1,10.0,April 2019,Bruno Bellbrook
1,2,Matthaeus Audas,Male,NaN,maudas1@mapquest.com,Charlton,263 Nelson Trail,OX12,+44-957-728-0155,Keele University,2:1,30.0,April 2019,Doris Bellasis
2,3,Cherey Tollfree,Female,08/12/1992,ctollfree2@netvibes.com,Weston,69 Coleman Court,GU32,+44-588-749-6002,"King's College London, University of London",2:1,25.0,April 2019,Gismo Tilling
3,4,Eryn Speers,Female,NaN,espeers3@shinystat.com,Sutton,0166 Daystar Drive,CT15,+44 148 787 0613,University of Edinburgh,2:1,NaN,NaN,NaN
4,5,Theadora Berkelay,Female,03/11/1995,tberkelay4@godaddy.com,Upton,6 Mandrake Crossing,WF9,+44 (841) 468-3619,University of Leicester,2:1,2.0,April 2019,Stacey Broad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,416,Clyve Gillhespy,Male,15/12/1995,cgillhespybj@buzzfeed.com,Birmingham,33 Almo Avenue,B40,+44-904-343-2218,University of Liverpool,2:1,26.0,SEPT 2019,Bruno Bellbrook
416,417,Vaclav Pietesch,Male,09/11/1994,vpieteschbk@mac.com,Whitwell,6476 Hoffman Terrace,DL10,+44 455 631 6125,Sheffield Hallam University,2:2,12.0,SEPT 2019,Stacey Broad
417,418,Kassi Lucio,Female,24/04/1994,kluciobl@exblog.jp,Normanton,06 Fulton Center,LE15,+44-834-342-9323,University of Buckingham,2:1,3.0,SEPT 2019,Fifi Eton
418,419,Vivianna Letty,Female,NaN,vlettybm@google.com.hk,Sheffield,78314 Fisk Plaza,S1,+44-534-758-3140,Leeds Metropolitan University,1st,19.0,SEPT 2019,Bruno Bellbrook
419,420,Mercie Groger,Female,10/05/1997,mgrogerbn@timesonline.co.uk,Charlton,5 Toban Circle,OX12,+44-662-239-4688,ifs University College,3rd,12.0,SEPT 2019,Rupert Ripple

In [15]:
extract_file_type(s3_client, 'Talent', files_dict, 'txt')
spartaday1 = files_dict['txt'][0]

convert_to_df(spartaday1, 'txt')

'Thursday 1 August 2019\r\nBirmingham Academy\r\n\r\nHILARY WILLMORE -  Psychometrics: 51/100, Presentation: 19/32\r\nORLY LORENS -  Psychometrics: 51/100, Presentation: 19/32\r\nALVIE BLEACKLY -  Psychometrics: 55/100, Presentation: 16/32\r\nDECK ITZCHAKI -  Psychometrics: 59/100, Presentation: 21/32\r\nWILT PENRITT -  Psychometrics: 66/100, Presentation: 25/32\r\nGIANNA CLEVELY -  Psychometrics: 61/100, Presentation: 16/32\r\nYVOR PHALIP -  Psychometrics: 59/100, Presentation: 18/32\r\nMARIELLE KNIVETT -  Psychometrics: 52/100, Presentation: 18/32\r\nFLORRI LOUGHTON -  Psychometrics: 63/100, Presentation: 28/32\r\nWALDEN GIDDEN -  Psychometrics: 49/100, Presentation: 25/32\r\nINGUNNA ADIN -  Psychometrics: 60/100, Presentation: 20/32\r\nJANAYA MAWFORD -  Psychometrics: 52/100, Presentation: 18/32\r\nCORNALL OFFER -  Psychometrics: 56/100, Presentation: 26/32\r\nBRNABY BOWNES -  Psychometrics: 59/100, Presentation: 26/32\r\nSHERLINE CUDIHY -  Psychometrics: 52/100, Presentation: 16/32\r\nANALLISE SCATHARD -  Psychometrics: 62/100, Presentation: 13/32\r\nBENSON LABUSCHAGNE -  Psychometrics: 64/100, Presentation: 13/32\r\nNORENE FIERRO -  Psychometrics: 58/100, Presentation: 22/32\r\nWOODY NEWLING -  Psychometrics: 49/100, Presentation: 21/32\r\nANNA BOWNES -  Psychometrics: 45/100, Presentation: 20/32\r\nLORINE BIGNALL -  Psychometrics: 59/100, Presentation: 17/32\r\nDEIRDRE VAN DEN VELDE -  Psychometrics: 55/100, Presentation: 19/32\r\nRUTHE ADOLTHINE -  Psychometrics: 63/100, Presentation: 17/32\r\nSTAR JURGES -  Psychometrics: 54/100, Presentation: 22/32\r\nSTAN FORKAN -  Psychometrics: 56/100, Presentation: 20/32\r\nJODIE KAYGILL -  Psychometrics: 53/100, Presentation: 17/32\r\nTIM HUSH -  Psychometrics: 40/100, Presentation: 22/32\r\nDELINDA CONYBEAR -  Psychometrics: 54/100, Presentation: 18/32\r\nREAGEN PUDGE -  Psychometrics: 60/100, Presentation: 14/32\r\nMATTEO YEOWELL -  Psychometrics: 57/100, Presentation: 18/32\r\nMAYE TARGETTER -  Psychometrics: 45/100, Presentation: 19/32\r\nCARLOS GERCKENS -  Psychometrics: 56/100, Presentation: 19/32\r\nNEVIL VIDYAPIN -  Psychometrics: 44/100, Presentation: 22/32\r\nBLAKE NUNSON -  Psychometrics: 64/100, Presentation: 18/32\r\nROSS BEEVORS -  Psychometrics: 48/100, Presentation: 25/32\r\nSID LIBBIE -  Psychometrics: 59/100, Presentation: 28/32\r\n'

In [16]:
obj = s3_client.get_object(Bucket='data-eng-228-final-project', Key='Talent/10383.json')
print(convert_to_df(obj, 'json'))

NameError: name 'json' is not defined